@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  zoom: 1.3;
}

.width-species {
  width: calc(80% + 24px);
}

.type {
  font-size: 70%;
}

@layer components {
  body {
    @apply bg-color0;
  }

  .selected:has(input:checked) {
    @apply border-color2 bg-color2/10;
  }
}
